input[type = 'text'] {
    margin-left: 5px;
    margin-right: 0px;
    padding: 0px 0px;
    margin-top: 5px;
    height: 40px;
    width: 200px;
    font-family: arial;
    font-size: 36;
}

input[type = 'submit']{
    width: 100px;
    height: 40px;
    margin-left: 3px;
    margin-top: 5px;
    border-radius: 5px;
}

#postSection {
    border-style: none;
    margin-top: 7px;
}

#postSection textarea {
    margin-left: 5px;
    width: 415px;
    height: 200px;
}

